/*Estilos globales*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/**/
body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/*--------------------LOYOUT GRID GENERAL-----------------------*/

.contenedor_padre{
    display: grid;
    grid-template: 
    "header" auto 
    "main" 50vh
    "contenido" auto
    "footer" auto /
    100% ;
}

/*--------------------Header para todas las paginas-----------------------*/ 

header{
    background: #1A1B1C;
}

.nav-link{
    color: #fff;
}

/*--------------------Main para el index-----------------------*/ 
.main{
    grid-area: main;
}

/*--------------------Contenido principal para el index-----------------------*/
.contenido{
    grid-area: contenido;
    background: #727683;
}

.box_content{
    padding: 5em 5em 0 5em;
}

.box_content .title{
padding-bottom: 1em;
}

.contenedor-cajas{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.contenedor-cajas .caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #32343C;
    margin: 20px;
    height: 250px;
    width: 200px;
    border-radius: 3px;
}

.product{
    background: #fff;
    height: 150px;
    width: 150px;
    border-radius: 3px;
}

.caja p{
    padding-top: 15px;
} 

/*--------------------Pie de pagina para todas las paginas-----------------------*/
.footer{
    grid-area: footer;
    background: #1A1B1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1em; 
    height: auto;
}

.info h3, .info a, .info p{
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #fff !important;
}

/*--------------------Main para todas las paginas-----------------------*/
.main{
    background: #222326;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*--------------------Contenido principal para Servicios-----------------------*/

.card{
    height: 350px;
    width: 90% !important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 400ms ease;
    cursor: default;
}

.card img{
    height: 50%;
}

#servicios .col{
    width: 40%;
    /* padding-right: 20px !important; */
}

@media (max-width: 800px){
    .card img{
        height: 50% !important;
    }
    #servicios .card{
        height: auto;
    }
    #servicios .col{
        width: 80% !important;
    }
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
    transform: translateY(-3%);
}

/*--------------Contenido principal para Productos--------------*/
#productos{
    background: #727683;
    height: auto;
    display: grid;
    grid-template:
    "caja1 caja2 caja3" 400px
    "caja4 caja5 caja6" 400px /
    30% 30% 30%;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.caja1{
    grid-area: caja1;
}

.caja2{
    grid-area: caja2;
}

.caja3{
    grid-area: caja3;
}

.caja4{
    grid-area: caja4;
}

.caja5{
    grid-area: caja5;
}

.caja6{
    grid-area: caja6;
}

.caja1, .caja2, .caja3, .caja4, .caja5, .caja6{
    background: white;
    border-radius: 5px;
}

.imgProdcuto{
    height: 50%;
    margin: 30px;
}

#productos .seccionInferior, h3, .carrito{
    cursor: pointer;
}

#productos h3{
    font-size: 20px;
}

#productos .precio p, .carrito p{
    margin: 0;
}


.precioYcarrito{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.precio{
    background: #184770;
    height: 50px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 15px 0 0;
}

.carrito{
    background: #7088A0;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

/*--------------Contenido principal para Nosotros--------------*/
#nosotros{
    background: #727683;
    height: auto;
    display: grid;
    grid-template:
    "cajaComentario1 cajaComentario2 cajaComentario3" auto /
    30% 30% 30%;
    gap: 40px;
    justify-content: center;
    padding: 5em;
}

.cajaComentario1, .cajaComentario2, .cajaComentario3{
    background: #171717;
}

.cajaComentario1{
    grid-area: cajaComentario1;
}

.cajaComentario2{
    grid-area: cajaComentario2;
}

.cajaComentario3{
    grid-area: cajaComentario3;
}

#nosotros img{
    height: 90px;
    object-fit: cover;
    margin-top: -50px;
}

#nosotros h3{
    color: #fff;
    font-size: 30px;
    padding: 20px;
}

#nosotros p{
    line-height: 1.5;
    padding: 1em;
}

#nosotros i{
    color: #e91e63;
    padding: 1.5em 0 2em 0 ;
    font-size: 20px;
}

/*--------------Contenido principal para Contacto--------------*/
#contacto{
    /* height: auto; */
    display: grid;
    grid-template:
    "seccionIzquierda seccionDerecha" auto / 
    50% 50%;
    justify-content: center;
}

/*--------SECCION-IZQUIEDA--------*/
.seccionIzquierda{
    grid-area: seccionIzquierda;
}

.cajaUbicacion h3{
    color: white;
    font-size: 40px;
    padding: 30px;
}

.cajaUbicacion p{
    color: white;
    font-size: 20px;
    padding: 30px;
}

#contacto .cajaUbicacion img{
    width: 90%;
    max-width: 700px;
}


/*--------SECCION-DERECHA--------*/
.seccionDerecha{
    grid-area: seccionDerecha;
    background: #727683;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form{
    background: #181818; 
    height: auto;
    width: 70%;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(225, 225, 225, .3);
}

.contact-form div{
    margin: 20px;
}

.contact-form label{
    display: block;
    text-align: left;
    padding-bottom: 15px;
}

.contact-form input, textarea{
    background: none;
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d63031;
    color: #fff;
}

/*animacion botones*/
.contenedor_botones{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.contenedor_botones .button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 15px;
    border: none;
}

.button{
    background: #141414;
    color: #fff;
}

.button.uno svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.button.uno rect{
    width: 100%;
    height: 100%;
    stroke: #d63031;
    stroke-width: 4px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .9s ease all;
}

.button.uno:hover rect{
    stroke-dashoffset: 0;
}

.button.dos svg{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.button.dos rect{
    width: 100%;
    height: 100%;
    stroke: #d63031;
    stroke-width: 4px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .9s ease all;
}

.button.dos:hover rect{
    stroke-dashoffset: 0;
}

/*----------------------------Responsive tablet--------------------------------*/
@media (max-width: 992px) {
    /*--------header para todas las paginas--------*/
    .header .logo_box .name_company{
        padding: 1em;
        font-size: 20px;
    }

    .header .button_menu{
        display: block;
        cursor: pointer;
        height: 3em;
        width: 3em;
        color: #fff;
    }

    .header .navbar{
        width: 100%;
        height: 0;
        transition: all .5s ease;
    }

    .header .navbar.activo{
        background: #727683;
        height: 50vh;
    }

    .header .list_item{
        font-size: 1em;
        margin: 1rem 0;
    }

    .header .list{
        flex-direction: column;
        align-items: center;
    }

    /*responsive Servicios*/
    #servicios{
            grid-template:
            "cajaServicio1 cajaServicio2" auto
            "cajaServicio3 cajaServicio4" auto
            "cajaServicio5 cajaServicio6" auto /
            45% 45%;
            gap: 20px;
            padding: 20px; 
    }
    
    #servicios .servicio-descripcion h3{
            width:max-content;
    }
    
    /*Resposive Productos*/
    #productos{
        grid-template:
        "caja1 caja2" 350px
        "caja3 caja4" 350px
        "caja5 caja6" 350px;
        gap: 50px;
        padding: 50px;
    }
    
    .imgProdcuto{
        height: 50%;
        margin: 10px;
    }

    /*Responsive Nosotros*/
    #nosotros{
        grid-template: 
        "cajaComentario1 cajaComentario2" auto 
        "cajaComentario3 ." auto /
        40% 40%;
        gap: 70px;
        padding: 5em;
    }

    /*Responsive Contacto*/
    #contacto{
        display: grid;
        grid-template:
        "seccionIzquierda" auto
        "seccionDerecha" auto / 
        90%;
    }

    .seccionDerecha{
        padding: 2em;
    }

}


/*----------------------------Responsive mobile--------------------------------*/

@media (max-width: 580px) {

    /*--------header para todas las paginas--------*/
    .header .logo_box{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .logo_box .name_company{
        padding: .3em;
        font-size: 20px;
    }

    .header .navbar{
        width: 100%;
        height: 0;
        transition: all .5s ease;
    }

    .header .navbar.activo{
        background: #727683;
        height: 50vh;
    }

    .header .list_item{
        font-size: 1em;
        margin: 1rem 0;
    }
    .header .list{
        flex-direction: column;
        align-items: center;
    }

    .header .button_menu{
        display: block;
        cursor: pointer;
        height: 3em;
        width: 3em;
        color: #fff;
    }

    /*--------Main para el index index--------*/
    #index .main_center .title{
        padding-bottom: 1.5em;
        margin: 0;
    }
    #index .main_center{
        padding: 1em;
    }

    /*--------Responsive Servicios-----------*/

    .main_center .title{
        padding-bottom: 1.5em;
        margin: 0;
    }

    .main_center{
        padding: 1em;
    }

    #servicios{
        grid-template:
        "cajaServicio1" 300px
        "cajaServicio2" 300px
        "cajaServicio3" 300px
        "cajaServicio4" 300px
        "cajaServicio5" 300px
        "cajaServicio6" 300px /
        90%;
        gap: 40px;
        padding: 2em .5em 2em .5em;
        
    }

    #servicios .servicio-descripcion h3{
        width:max-content;
    }


 /*--------Responsive Productos-----------*/

 #productos{
    grid-template:
    "caja1" 340px
    "caja2" 340px
    "caja3" 380px
    "caja4" 340px
    "caja5" 340px
    "caja6" 340px ;
    gap: 50px;
    padding: 50px;
}

.imgProdcuto{
    height: 50%;
    margin: 10px;
}

/*--------Responsive Nosotros-----------*/

#nosotros{
    grid-template: 
    "cajaComentario1" auto
    "cajaComentario2" auto
    "cajaComentario3" auto /
    85%;
    gap: 7em;
    padding: 7em 0 7em 0;
}
#nosotros .stars{
    padding: 20px;
}
/*--------Responsive Contacto-----------*/

    #contacto{
         height: auto;
         width: 100%;
         grid-template:
         "seccionIzquierda" auto 
         "seccionDerecha" auto /
         100%;
    }

    .seccionIzquierda img{
        width: 90% ;
    }

    .seccionDerecha{
        height: auto;
        padding: 60px 0 60px 0;
    }

    .contact-form{
        height: auto;
        width: 90%;
    }

    /*footer para todas las paginas*/
    .footer .logoFooter{
        display: none;
    }
}





















